/* Importación de fuentes desde Google Fonts y otros archivos CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url(../css/login.css);
@import url(../css/modal.css);
@import url(../css); /* ¡Asegúrate de proporcionar un archivo específico aquí! */
@import url(../css); /* ¡Asegúrate de proporcionar un archivo específico aquí! */
@import url(../css); /* ¡Asegúrate de proporcionar un archivo específico aquí! */

/* Definición de variables globales */
:root {
    --text: #333;
    --input: #eee;
    --blanco: #fff;
    --rojo: #FB503B;
    --verde: #4DBA87;
    --azulClaro: #57D6F2;
    --azulMedio: #0583F2;
    --azulTenue: #020659;
    --azulMarino: #010326;
    --azulOscuro: #010440;
}

/* Estilos generales del cuerpo del documento */
body {
    background: var(--azulMarino);
}




/* Estilos para mobiles en orientación horizontal */


/* Estilos para tablets en orientación horizontal */
@media (min-height: 768px) and (max-height: 1280px) {

}

/* Estilos para desktop en orientación horizontal */
@media (min-width: 1025px){
    
}
