/* Estilos para el pie de página */
footer {
    background-color: var(--azulMedio);
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

/* Media queries para dispositivos de escritorio */
@media screen and (min-width: 769px) {
    footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: 100px; /* Ajusta la altura mínima según tus necesidades */
        box-sizing: border-box; /* Esto evita que el padding afecte el cálculo del tamaño total */
    }
}